{% extends 'base.html' %}
{% load static %}

{% block title %}
Products
{% endblock %}

{% block content %}
<head>
  <style>

  </style>
</head>
<br>
<br>
<br>
<br>
<body background="{% static 'core/image/bg.jpg' %}" style="background-attachment: fixed;">
    <div class="container text-center">
      <div class="row align-items-start ">
        {% for product in products %}
            <div class="col">
              <div class="card shadow p-3 mb-5 bg-body-tertiary rounded" style="width: 18rem;">
                <a href="{% url 'productdescr' product.id %}"><img src="{{product.image.url}}" class="card-img-top" alt="..." style="border: 5px solid rgb(170, 170, 170);"></a>
                <div class="card-body">
                  <h5><a href="{% url 'productdescr' product.id %}" class="link-dark link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">{{product.name}}</a></h5>
                  <p><a href="{% url 'productdescr' product.id %}" class="link-secondary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">{{product.subname}}</a></p>
                  <a href="#" class="btn btn-success">Buy now</a>
                  
                </div>
              </div>
            </div>
            {% if forloop.counter|divisibleby:3 %}
          </div> 
          <br>
          <br>
          <div class="row align-items-start">
            {% endif %}
        {% endfor %}
      </div>
    </div>

    
</body>

{% endblock %}
