{% extends 'base.html' %}
{% load static %}

{% block title %}
{{item.product_name}}
{% endblock %}

{% block content %}
<div class="card" style="width: 18rem;">
  <img src="#" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">{{ Product.product_name }}</h5>
    <p class="card-text">{{ Product.product_subname }}</p>
    <button type="button" value="{{ product.id }}" class="btn btn-warning" id="add-cart">Add to cart </button>
  </div>
</div>
<script>
  $(document).on('click', '#add-cart', function(e){
    e.preventDefault();
    $.ajax({
      type: 'POST',
      url: '{% url "cart_add" %}',
      data: {
        product_id: $('#add-cart').val(),
        csrfmiddlewaretoken: '{{ csrf_token }}',
        action: 'post'
      },

      success: function(json){
        //console.log(json)
        document.getElementById('cart_quantity').textContent = json.qty
      },

      error: function(xhr, errmsg, err){

      }

    });
  })
</script>
{% endblock %}